<!DOCTYPE html>
<html>
    <head>
        <title>Fault Logger</title>
        <link rel="stylesheet" href="/css/stack-style.css" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- Resizeable table -->
        <script src="extensions/resizable/bootstrap-table-resizable.js"></script>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class= "sidenav">
            <a href="/incident">New Incident</a>
            <a href="/stack">View Stack</a>
        </div>
        
        <div class = form>
            <h1>View Stack</h1>
            <form method="post" action="/filterTicket">
                <label for="filter-stack">Search by name:</label>
                <input type="text" name="firstName">
                <button type="submit">Search</button>
                <table id="stackTable">
                    <thead>
                        <tr> <th>ID:</th> <th>First Name:</th> <th>Last Name:</th> <th>Location:</th> <th>Computer Asset No:</th>  <th>Description:</th> </tr>
                    </thead>
                    <tbody>
                        <% for (i=0; i<tickets.length; i++) { %> <tr class="clickable-row">
                            <td>
                                <%= tickets[i]._id%>
                            </td> 
                            <td>
                                <%= tickets[i].firstName %>
                            </td> 
                            <td>
                                <%= tickets[i].lastName %> 
                            </td>
                            <td>
                                <%= tickets[i].location %>
                            </td> 
                            <td>
                                <%= tickets[i].compID %>
                            </td> 
                            <td>
                                <%= tickets[i].description %>
                            </td> 
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                <br>
                <!-- Table onclick selection function -->
                <script src="/js/table.js"></script>
            </form>

            <form method="post" action="/deleteIncident">
                <input type="text" name="delete">
                <button type="submit">Delete</button>
            </form>
            
    </body>
</html>